  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
	display:block;
	width: 100%;
	height: 100%;
	position:relative;
	font-family: 'Roboto', sans-serif;
	}
   
   body{
	max-width:1940px;
	margin: 0
   }

nav{
	background-color: #fff;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
	position: sticky;
	top: 0;
}
.main-pad{
	padding: 0 100px;
}
.logo{
	height: 35px;
	margin: 20px 0;
}
.left{
	display: flex;
	align-items: center;
}
.right{
	display: flex;
	align-items: center;
	gap: 20px;
}
.flag{
	height: 35px;
	border: 2px solid #ececec;
	border-radius: 50%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
	float: left;
	display: block;
	color: #20a4dc;
	font-size: 16px;
	padding: 20px;
}
.blue-btn{
	float: right;
	border-radius: 50px;
	background-color: #20a4dc;
	color: white;
	padding: 10px 20px;
	border-style: none;
	font-size: 16px;
}
.pointer{
	cursor: pointer
}
.banner{
	display: flex;
	background-color: #20a4dc;
	color: white;
	gap: 50px;
	align-items: center;
	padding: 80px 100px 60px 100px;
}
.head-banner{
	font-size: 70px;
	font-weight: 300;
	margin-bottom: 30px;
	margin-top: 0;
}
p{
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
}
.white-btn{
	border-radius: 50px;
	background-color: white;
	color: #20a4dc;
	padding: 10px 20px;
	font-size: 20px;
	border-style: none;
	font-weight: 600;
}
.banner-btn{
	display: flex;
	gap: 10px;
	height: 50px;
	padding-top: 30px;
}
.banner-left{
	flex: 1;
}
.banner-right{
	flex: 1;
}
.banner-img{
	width: 100%;	
}
.acv{
	text-align: center;
	font-size: 30px;
	background-color: #eeeeee;
	padding: 30px 0;
}
.acvs{
	display: flex;
	justify-content: center;
	gap: 100px;
}
.tahun,h1{
	margin: 0;
	font-weight: 300;
}
.h-acv{
	font-weight: 100;
	margin-bottom: 10px;
	margin-top: 20px;
}
.p-acv{
	font-weight: 500;
	margin-top: 0;
}
