  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
	display:block;
	width: 100%;
	height: 100%;
	position:relative;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
	}
   
   body{
	max-width:1940px;
	margin: 0
   }

nav{
	background-color: #fff;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
	position: sticky;
	top: 0;
}
h2{
	font-size: 30px;
}
p{
	font-size: 20px;
}
.main-pad{
	padding: 0 100px;
}
.logo{
	height: 35px;
	margin: 20px 0;
}
.left{
	display: flex;
	align-items: center;
}
.right{
	display: flex;
	align-items: center;
	gap: 20px;
}
.flag{
	height: 35px;
	border: 2px solid #ececec;
	border-radius: 50%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
	float: left;
	display: block;
	color: #20a4dc;
	font-size: 16px;
	padding: 20px;
}
.blue-btn{
	float: right;
	border-radius: 50px;
	background-color: #20a4dc;
	color: white;
	padding: 10px 20px;
	border-style: none;
	font-size: 16px;
}
.pointer{
	cursor: pointer
}
.banner{
	display: flex;
	background-color: #20a4dc;
	color: white;
	gap: 50px;
	align-items: center;
	padding: 80px 100px 60px 100px;
}
.head-banner{
	font-size: 70px;
	font-weight: 300;
	margin-bottom: 30px;
	margin-top: 0;
}
p{
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
}
.white-btn{
	border-radius: 50px;
	background-color: white;
	color: #20a4dc;
	padding: 10px 20px;
	font-size: 20px;
	border-style: none;
	font-weight: 600;
}
.banner-btn{
	display: flex;
	gap: 10px;
	height: 50px;
	padding-top: 30px;
}
.banner-left{
	flex: 1;
}
.banner-right{
	flex: 1;
}
.banner-img{
	width: 100%;	
}
.acv{
	text-align: center;
	font-size: 30px;
	background-color: #eeeeee;
	padding: 30px 0;
}
.acvs{
	display: flex;
	justify-content: center;
	gap: 100px;
}
.tahun,h1{
	margin: 0;
	font-weight: 300;
}
.h-acv{
	font-weight: 100;
	margin-bottom: 10px;
	margin-top: 20px;
}
.p-acv{
	font-weight: 500;
	margin-top: 0;
}
.new{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 500;
	color: #666;
}
.page-new{
	background-color: #6a277a;
	color: white;
}
.new-img{
	height: 350px;
	flex: 1;
}
.new-text{
	margin-top: 40px;
	margin-bottom: 40px;
}
.new-tittle{
	font-size: 30px;
}
.new-sp{
	font-size: 20px;
	font-weight: 100;
}
.new-btn{
	border-radius: 10px;
	background-color: white;
	color: #6a277a;
	padding: 10px 20px;
	font-size: 14px;
	border-style: none;
	font-weight: 100;
	margin-top: 25px;
}
.box{
	display: flex;
	gap: 170px;
	margin: 0 100px;
	border-radius: 10px;
	padding: 0 50px 0 100px;
	align-items: center;
}
.app{
	background-color: white;
	margin-top: 100px;
	align-items: center;
}
.app-text{
	color: #666;
	margin-top: 40px;
	margin-bottom: 40px;
	flex: 1;
}
.app-tittle{
	font-size: 30px;
	font-weight: 300;
}
.app-img{
	height: 300px;
	padding: 60px 20px 50px 0;
}
.app-btn{
	float: left;
	font-weight: 500;
	margin-top: 100px;
}
.tabung{
	padding-top: 30px;
}
.tabung-tittle{
	font-weight: 100;
	color: #666;
	text-align: center;
}
.tabung-page{
	background-color: white;
	gap: 50px;
	padding-left: 50px;
}
.tabung-img{
	height: 350px;
	padding: 50px 0 50px 0;
}
.tabung-text{
	color: #666;
	text-align: left;
	font-weight: 100;
}
.tabung-sh{
	font-size: 30px;
	font-weight: 300;
}
.tabung-btn{
	float: left;
	margin-top: 100px;
}
.flexi{
	background-color: #4846dd;
	margin-top: 75px;
	color: white;
	gap: 30px;
}
.flexi-img{
	height: 350px;
	padding: 50px;
}
.flexi-sh{
	font-size: 30px;
	font-weight: 300;
}
.flexi-btn{
	font-size: 16px;
	font-weight: 300;
	color: #4846dd;
	margin-top: 100px;
}
.trans-tittle{
	color: #666;
	text-align: center;
}
.row1{
	display: flex;
	gap: 50px;
	padding: 0;
}
.half-box{
	height: 450px;
	border-radius: 10px;
	padding: 50px;
}
.send{
	background-color: #20a4dc;
	flex: 1;
}
.send-sh{
	font-size: 30px;
	font-weight: 300;
	color: #666;
	margin: 0;
	color: white;
}
.send-btn{
	font-size: 16px;
	font-weight: 300;
	margin: 30px 0 50px 0;
}
.send-img{
	height: 300px;
}
.pay{
	background-color: white;
	flex: 1;
}
.pay-sh{
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	color: #666;
}
.pay-img{
	height: 350px;
}
.pay-btn{
	float: left;
	margin: 30px 0 20px 0;
}
.row2{
	display: flex;
	gap: 50px;
	margin: 50px 100px 50px 100px;
}
.bill{
	background-color: white;
	flex: 1;
}
.bill-sh{
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	color: #666;
}
.bill-img{
	height: 350px;
}
.bill-btn{
	float: left;
	margin-top: 50px;
}
.wallet{
	background-color: white;
	flex: 1;
}
.wallet-sh{
	font-size: 30px;
	font-weight: 300;
	margin: 0;
	color: #666;
}
.wallet-img{
	height: 250px;
	margin-bottom: 50px;
}
.wallet-btn{
	float: left;
	margin: 50px 0 50px 0;
}
.img-center{
	display: flex;
	justify-content: center;
}
.footer{
	background-color: #20a4dc;
	color: white;
}
.slogan{
	padding-top: 50px;
	margin: 30px 400px 20px 400px;
	text-align: center;
}
.slogan-h{
	font-size: 40px;
	font-weight: 300;
}
.slogan-sh{
	font-size: 23px;
	font-weight: 300;
}
.slogan-btn{
	font-weight: 100;
}
.slogan-img{
	display: flex;
	height: 60px;
	padding-top: 10px;
	justify-content: center;
	gap: 5px;
	padding-bottom: 50px;
}
.footer-menu{
	display: flex;
	color: white;
	padding: 0px 100px 50px 100px;
}
.navigation{
	flex: 	4;
}
.nav-menu{
	display: flex;
	float: left;
}
.foot-list{
	color: white;
	float: left;
	padding: 5px 0px 5px 0px;
}
.others{
	flex: 	1;
}
.menu-tittle{
	font-size: 24px;
}
.submenu{
	font-size: 18px;
}