body{
	margin: 0 auto !important;
	width: 100%;
	max-width: 1024px;
}
nav{
	background-color: #fff;
	width: 100%;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
}
.main-pad{
	padding: 0 100px;
}
.logo{
	height: 35px;
}
.left{
	display: flex;
	align-items: center;
}
.right{
	display: flex;
	align-items: center;
	gap: 20px;
}
.flag{
	height: 35px;
	border: 2px solid #ececec;
	border-radius: 50%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
	float: left;
	display: block;
	color: #20a4dc;
	font-size: 16px;
	padding: 20px;
}
.blue-btn{
	float: right;
	border-radius: 50px;
	background-color: #20a4dc;
	color: white;
	padding: 10px 20px;
	border-style: none;
	font-size: 16px;
}
.pointer{
	cursor: pointer
}